body{
    margin: 0;
    padding:0;
}
link[rel="icon"] {
    width: 150px;
    height: 150px;
  }



#header{
    display: flex;
    flex-direction: column;
    width: 100%;
}



/* upperheader */

#upheader {
    /* position: fixed; */
    width: 100%;
    background-color: white;
}
#upheader > div{
    width: 95%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px 0;
}

#upheader div:first-child{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    /* width: 100%; */
}

#divheaderlogo{
    display:flex;
    justify-content: center;
    align-items: center;
}



#headerlogo{
    width: 200px;
}
#headericonsdiv{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#headericonsdiv img{
    width: 23px;
    margin-left: 27px;
}
#headericonsdiv span{
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#headericonsdiv span:hover{
    cursor: pointer;
}

/* anoouncemet */

#announcement{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    /* position: relative; */
    width: 100%;
}

#welcome{
    font-weight: 700;
    display: block;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .85em;
}

/* navbar header */
#navbar ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
    /* font-family: Tiemann,serif; */
    font-family: Futura,sans-serif;
    /* font-family: 'Nanum Gothic', sans-serif; */
    font-size: 13px;
    line-height: 21px;
    font-weight: 400px;
    letter-spacing: 2px;
    /* border: 1px solid black; */
}
ul a{
    text-decoration: none;
    color: black;
}

#navbar{
    width: 95%;
   display: flex;
   justify-content: center;
}

/* slideshow */

#slideshow
{
    width: 100%;
    height: 500px;
    /* border: 1px solid black; */
}



#brand_contents{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    /* filter: brightness(100%); */
    /* margin-top: 50%; */
}

#brand_contents button{
    width: 100px;
    padding: 10px;
    color: black;
    border: 0px;
    margin-top: 30px;

    /* background-color: rgba(0, 0, 0, 0.75); */
}

#brand_contents h1{
    font-family: 'Noto Serif Display', serif; 
    font-size: 100px;
    /* text-shadow: 1px 1px gainsboro; */
}
#brand_contents p{
    font-family: Futura,sans-serif; 
    font-size: 60px;
}

/* .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 60%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: rgb(214, 197, 197);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
   color:whitesmoke;
  } */

  /* recommended products div */

  #recommended_products{
    width: 100%;
    height: 400px;
    background-color: rgb(126, 156, 146);
    border:1px solid black
  }

  /* offer on brands */
  
  #offers_div{
    position: relative;
    text-align: center;
    color: white;
    display: grid;
    width: 95%;
    /* height:300px; */
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows: 400px; */
    gap:20px;
    margin: auto;
    justify-content: space-around;
    margin-top: 10px;
  }

  .offer_content{
    /* background-color: aqua;
    border: 1px solid black; */
    /* width: auto; */
    height: 500px;
    position: relative;
    text-align: center;
    /* display: block;
    margin: auto; */
    
  }

  .offer_content img{
    width:100%;
    height: 100%;
    object-fit: fill;
    filter: brightness(95%);

  }

  .offer_content div{
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 10px;
    /* border: 1px solid black; */
  }
  .offer_content button{
    border:0;
    padding: 5px 20px;
    color: black;
    font-weight: 550;
    font-family: Futura,sans-serif;
    letter-spacing: .025em;
    line-height: 1.6;
    margin-top: 10px;
  }
  .offer_content h1{
    font-family: Tiemann,serif;
    font-weight: 600;
    letter-spacing: 0em;
    font-size: 50px;
    margin-bottom: -5px;
  }

  .offer_content p{
    font-family: Futura,sans-serif;
    letter-spacing: 3px;
    line-height: 26px;
    font-size: 20px;
    margin-bottom: -10px;
  }

  .offer_content h2{
    font-family: Futura,sans-serif;
    font-size: 20px;
    padding: 0px 20px;
    font-weight: 600;
    letter-spacing: 2px;
  }
  
/* carousel */
#carouselExampleCaptions1{
  font-family: 'Vidaloka', serif;

 
}
#carouselExampleCaptions2{
  font-family: 'Vidaloka', serif;
  margin-bottom: 50px;
  margin-top: 50px;
  
}
#carouselExampleCaptions1 img{
  height: 600px;
}
#carouselExampleCaptions2 img{
  height: 500px;
}
#carouselExampleCaptions1 .sheadak>h1{
  
  text-transform: uppercase;
  font-size: 80px;
  text-align: center;
}
#carouselExampleCaptions1 .sheadak>p{
  text-transform: uppercase;
  font-size: 30px;
}
#carouselExampleCaptions1 .sheadak>button{
  padding: 10px 20px 10px 20px;
  background-color: white;
  border:none;
  letter-spacing: .2em;
  margin-bottom: 10px;
}

#carouselExampleCaptions2 .sheadak>h1{
  
  text-transform: uppercase;
  font-size: 60px;
  text-align: center;
}
#carouselExampleCaptions2 .sheadak>p{
  text-transform: uppercase;
  font-size: 20px;
}
#carouselExampleCaptions2 .sheadak>button{
  padding: 10px 15px 10px 15px;
  background-color: white;
  border:none;
  letter-spacing: 0.2em;
}

  /* page responsive part */

  @media all and (min-width:480px) and (max-width:760px){
    #offers_div{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
    } 
    .offer_content{
        height: 300px;
    }
    .offer_content img{
        object-fit:cover;
    }

  }

  @media all and (min-width:120px) and (max-width:480px){
    #offers_div{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
    } 
    .offer_content{
        height: 300px;
    }
    .offer_content img{
        object-fit:cover;
    } 
      .offer_content button{
        padding: 2px 10px;
        color: black;
        font-size: 15px;
      }
      .offer_content h1{
        font-size: 25px;
        margin-bottom: -5px;
      }
    
      .offer_content p{
        letter-spacing: 2px;
        font-size: 18px;
      }
    
      .offer_content h2{
        font-size: 15px;
      }

      
}