.new_arrivals {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blueviolet; */

}

.new_arrivals button {
    text-align: center;
    border: 1px solid darkgrey;
    padding: 5px;
    background-color: white;
    letter-spacing: 2px;

}

.new_arrivals>h1 {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Vidaloka', serif;
    /* display: block; */
}


.new_arrivals_content {
    display: grid;
    margin: auto;
    flex-wrap: nowrap;
    width: 90%;
    /* height:200px; */
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    justify-content:space-between;
    align-items: center;
    font-family: 'Marcellus', serif;
    /* border: 1px solid blueviolet;
    background-color: rgb(84, 61, 105); */
    margin-top: 10px;
}

.new_arrivals_content>div>img {
    height: 350px;
    width: 100%;
    margin-bottom: 5px;
    /* margin-top: 5px; */
}


.productDetails {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.productDetails>h3 {
    font-weight: 100;
    font-size: medium;
}

.viewall {
    background-color: black;
    color: white;
    height: 40px;
    width: 130px;
    margin-left: 240%;
    letter-spacing: 4px;
}

.productDetails>p {
    display: inline-block;
    /* margin-top: 2px; */
}

.productDetails>p:last-child {
    color: red;
}

.productDetails>p:first-child {
    text-decoration: line-through;
}

.shopNow {
    display: none;
    background-color: black;
    text-transform: uppercase;
    padding: 5px;
    color: white;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

}

.nahover {
    position: relative;
    /* white-space:normal; */
    /* border: 1px solid black; */
    height: 100%;
}

#na1:hover .shopNow {

    animation-duration: .5s;
    animation-name: slide-up;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    display: inline-block;

}

@keyframes slide-up {
    0% {
        top: 80%;
        opacity: 0;
        display: none;
    }

    100% {
        top: 75%;
        opacity: 1;
        display: inline-block;
    }
}

#na2:hover .shopNow {
    display: inline-block;
    animation-duration: .5s;
    animation-name: slide-up;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    display: inline-block;

}

#na3:hover .shopNow {
    display: inline-block;
    animation-duration: .5s;
    animation-name: slide-up;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    display: inline-block;

}

#na4:hover .shopNow {
    display: inline-block;
    animation-duration: .5s;
    animation-name: slide-up;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    display: inline-block;

}

#na5:hover .shopNow {
    display: inline-block;
    animation-duration: .5s;
    animation-name: slide-up;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    display: inline-block;

}

@media all and (min-width:120px) and (max-width:480px){
    .new_arrivals_content{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
    .new_arrivals_content>div>img{
        height: 250px;
    }
}

@media all and (min-width:480px) and (max-width:760px){
    .new_arrivals_content{
        grid-template-columns: repeat(2, 1fr);
    }
}

