#product_page {
  display: flex;
}
#filter_products {
  width: 20%;
  display: flex;
  flex-direction: column;
  padding: 10px 60px 10px 10px;
  gap: 20px;
  /* border: 2px solid black; */
}
#filter_products > div {
  /* border: 2px solid blue; */
  gap: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  letter-spacing: 2px;
  color: black;
  font-size: 0.75em;
  letter-spacing: 0.3em;
}

#products_page_right_div {
  width: 80%;
  justify-content: center;
  text-align: center;
  
}

#sorting_div {
  display: flex;
  justify-content: space-between;
  width: 78%;
  margin-left: 22%;
}

#product_div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

img {
  width: 250px;
  height: 250px;
}

#pricing {
  margin-top: -25px;
  display: flex;
  gap: 5px;
  justify-content: center;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  color: black;
  font-size: 14px;
  letter-spacing: .025em;
}
#product_name {
  line-height: 20px;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  color: black;
  font-size: 14px;
  letter-spacing: 0.2em;
}

#striked_off_price {
  text-decoration: line-through;
}
#discount {
  color: red;
}
#button {
  border: none;
  background-color: transparent;
  font-size: 20px;
  position: absolute;
}
#sort {
  padding: 8px 28px 8px 10px;
  font-size: 15px;
}
.drop_down {
  display: flex;
  justify-content: space-between;
}
#anchor_tag {
  text-decoration: none;
  color: black;
}
input {
  margin: 0px;
}
#brands,
#colors {
  display: none;
  gap: 20px;
}
.brand {
  padding-bottom: 20px;
}
@media all and (min-width: 770px) and (max-width: 990px) {
  #product_div {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (max-width: 769px) {
  #product_div {
    grid-template-columns: repeat(2, 1fr);
  }
}
