#shop_category{
    /* display: block; */
    width: 96%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    
}
#shop_category h3{

    font-family: 'Vidaloka', serif;
    letter-spacing: 0.1em;
    font-size: 40px;
}
#category{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    gap: 25px;
    letter-spacing: .2em;
    margin-top: 50px;
}
#category>div{
    /* width: 250px; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin: auto;
    height: 300px;
    /* border: 1px solid blue; */
    margin-bottom: 10px;

    
}
#category>div>div{
    width: 100%;
    height: 250px;
    /* border: 1px solid black; */
    margin-bottom: 10px;
    
}
#category img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    /* max-width: 100%;
    height: auto;
    max-height: auto ;
    object-fit: cover;
    transition: 0.3s all ease-in-out; */
}



@media all and (min-width:480px) and (max-width:760px){
    #shop_category{
        margin: auto;
        /* margin-left: 12%;  */
     }
     #category{
         grid-template-columns: repeat(2,1fr);
         /* grid-template-rows: 600px; */
     }
 
     #shop_category h3{
         font-size: 30px;
         font-weight: 600;
     }
 
     #category p{
         font-size: 12px;
     }
     
     #category>div{
        /* width: 80%; */
        /* margin-left: 20px; */
        /* width: 200px;
        height: 250px; */
        margin-top: 15px;
     }
     #category>div>div{
        width: 80%;
        height: 80%px;
     }
     #category>div>div>img{
        width: 100%;
        object-fit: fill;
     }
 
}

@media all and (min-width:120px) and (max-width:480px){
    #shop_category{
        margin: auto;
        /* margin-left: 12%;  */
     }
     #category{
         grid-template-columns: repeat(2,1fr);
         /* grid-template-rows: 600px; */
     }
 
     #shop_category h3{
         font-size: 30px;
         font-weight: 600;
     }
 
     #category p{
         font-size: 12px;
     }
     
     #category>div{
        /* width: 80%; */
        /* margin-left: 20px; */
        /* width: 200px;
        height: 250px; */
        margin-top: 15px;
     }
     #category>div>div{
        width: 80%;
        height: 80%px;
     }
     #category>div>div>img{
        width: 100%;
        object-fit: fill;
     }
}
